name: Integration Tests
on:
  workflow_dispatch:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2

      # Run tests with pretty formatting, saving og log in /tmp/gotest.log
      - name: Run Tests
        run: |
          set -euo pipefail
          go test -json -v ./... 2>&1 | tee /tmp/gotest.log | gotestfmt

      # # Upload original go test log as an artifact
      # - name: Upload Test Log
      #   uses: actions/upload-artifact@v6
      #   if: always()
      #   with:
      #     name: test-log
      #     path: /tmp/gotest.log
      #     if-no-files-found: error