name: Push to Codeberg
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "branch to push"
        required: true
        default: "main"
jobs:
  push_to_codeberg:
    name: Push to Codeberg
    runs-on: ubuntu-latest
    steps:
      - name: Clone from GitHub
        run: git clone --branch "${{ inputs.branch }}" --single-branch https://github.com/quizfreely/api.git
      - name: Push to Codeberg
        run: |
          cd api
          git push https://ehanahamed:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/quizfreely/api.git "${{ inputs.branch }}" --tags
